
*.py[cod]
*.egg-info
*.egg

venv*/
.venv*/
.idea/
.pytest_cache/
__pycache__/
.pytest*/

dev/
dev.py
samples/

dist/
build/
packages/

/.vscode
/dist
/build
.venv/
*.egg-info/
poetry.lock
.dmypy.json

profiler.html
